# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
api.json
# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Gatsby files
.cache/

# Vue.js build output
dist/

# Svelte build output
public/build/

# Angular build output
dist/
tmp/

# React Native
ios/
android/

# Expo
.expo/
.expo-shared/

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# TypeScript
*.tsbuildinfo

# Optional stylelint cache
.stylelintcache

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
